name: CD - Terraform Deploy to ECS

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: 'Docker image tag to deploy (use "latest" for most recent)'
        required: true
        default: 'latest'

env:
  AWS_REGION: ap-south-1

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        working-directory: ./Terraform
        run: terraform init

      - name: Terraform Validate
        working-directory: ./Terraform
        run: terraform validate

      - name: Terraform Apply
        working-directory: ./Terraform
        run: |
          IMAGE_URI="${{ secrets.ECR_REPO }}:${{ github.event.inputs.image_tag }}"
          echo "Deploying ECS Task with image: $IMAGE_URI"
          terraform apply -auto-approve -var="image_uri=$IMAGE_URI"
